<?xml version="1.0" ?>
<robot name="My robot">
    <webots>
    

        <device reference="gps" type="GPS">
            <ros>
                <topicName>/gps/fix</topicName>
                <alwaysOn>true</alwaysOn>
                <frameName>base_link</frameName>
            </ros>
        </device>
        <device reference="lidar" type="Lidar">
            <ros>
                <frameName>lidar_link</frameName>
                <enabled>true</enabled>
                <scanRate>10</scanRate>
                <topicName>/pc</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <device reference="camera" type="Camera">
            <ros>
                <frameName>base_link</frameName>
                <enabled>true</enabled>
                <scanRate>10</scanRate>
                <topicName>/camera</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>

        <plugin type="webots_ros2_driver::Ros2IMU">
            <enabled>true</enabled>
            <topicName>/imu</topicName>
            <alwaysOn>true</alwaysOn>
            <frameName>base_link</frameName>
            <inertialUnitName>imu</inertialUnitName>
            <gyroName>gyro</gyroName>
            <accelerometerName>accel</accelerometerName>
        </plugin>

        <plugin type="simulation.driver.MyRobotDriver" />
    </webots>
</robot>