<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- <xacro:include filename="$(find main)/urdf/materials.xacro" /> -->
    <xacro:macro name="spring_link">
        <inertial>
            <origin xyz="0.0 0.0  0.0 " rpy="0 0 0" />
            <mass value="0.01" />
            <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0.0" iyz="0.0" ixz="0.0" />
        </inertial>
        <!-- <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.1 0.1 0.1" />
            </geometry>
        </visual> -->
    </xacro:macro>

    <xacro:macro name="spring_joint">
        <axis xyz="0.0 0.0 -1.0" />
        <limit lower="-0.025" upper="0.025" velocity="-1.0" effort="-1.0" />
        <dynamics damping="2.0" spring_reference = "10.0" spring_stiffness = "100.1" friction = "0.0"/>
        <physics>
            
        </physics>
    </xacro:macro>

    <xacro:macro name="surface">
        <surface>
            <friction>
                <ode>
                    <mu>0.95</mu>
                    <mu2>0.95</mu2>
                    <slip1>1e-19</slip1>
                    <slip2>1e-19</slip2>
                </ode>
            </friction>
            <contact>
                <ode>
                    <cfm>0</cfm>
                    <erp>0.2</erp>
                    <kp>200</kp>
                    <kd>1</kd>
                    <max_vel>0.01</max_vel>
                    <min_depth>0.0</min_depth>
                </ode>
            </contact>
        </surface>
    </xacro:macro>

    <xacro:macro name="wheel">
        <inertial>
            <origin xyz="0.05 0 0" rpy="0 1.5707 0" />
            <mass value="1.6" />
            <inertia ixx="0.124" ixy="0" ixz="0"
                iyy="0.124" iyz="0"
                izz="0.21" />
        </inertial>
        <visual>
            <origin xyz="0.05 0 0" rpy="0 1.5707 0" />
            <geometry>
                <cylinder radius="0.19" length="0.14" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0.05 0 0" rpy="0 1.5707 0" />
            <geometry>
                <cylinder radius="0.19" length="0.14" />
            </geometry>
            <xacro:surface />
        </collision>
    </xacro:macro>

    <xacro:macro name="left_wheel">
        <inertial>
            <origin xyz="-0.05 0 0" rpy="0 1.5707 3.1415" />
            <mass value="1.6" />
            <inertia ixx="0.124" ixy="0" ixz="0"
                iyy="0.124" iyz="0"
                izz="0.21" />
        </inertial>
        <visual>
            <origin xyz="-0.050 0 0" rpy="0 1.5707 3.1415" />
            <geometry>
                <cylinder radius="0.19" length="0.14" />
            </geometry>
            <material name="blue" />
        </visual>
        <collision>
            <origin xyz="-0.05 0 0" rpy="0 1.57 3.1415" />
            <geometry>
                <cylinder radius="0.19" length="0.14" />
            </geometry>
            <xacro:surface />
        </collision>
    </xacro:macro>

    

</robot>