<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <xacro:macro name="spring_link">
        <inertial>
            <origin xyz="0.0 0.0  0.0 " rpy="0 0 0"/>
            <mass value="0.01"/>
            <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <box size="0.1 0.1 0.1"/>
            </geometry>
            <material name="silver">
            </material>
        </visual>
    </xacro:macro>

    <xacro:macro name="spring_joint">
        <axis xyz="0.0 0.0 1.0"/>
            
        <limit lower="0.0" upper="0.0" velocity="0.0" effort="1.0" />
        
        <!-- <dynamics damping="5000.0" spring_reference ="0.20" spring_stiffness="5000000.0" friction ="0.0"/> -->
        <!-- <physics> -->
            <!-- <ode>
                <implicit_spring_damper>10000</implicit_spring_damper>
                <cfm_damping>true</cfm_damping>
                <max_force>5000</max_force>
                <fudge_factor>0.1</fudge_factor>
                 <cfm>0.0001</cfm>
                    <erp>0.9</erp>
                <limit>
                    <cfm>0.0001</cfm>
                    <erp>0.9</erp>
                </limit> -->
                <!-- <suspension>
                    <cfm>10000</cfm>
                    <erp>0.2</erp>
                </suspension> -->
            <!-- </ode> -->
        <!-- </physics> -->
    </xacro:macro>
    <xacro:macro name="wheel"> 

    <inertial>
            <origin xyz="0.05 0 0" rpy="0 1.57 0"/>
            <mass value="11.6"/>
            <inertia  ixx="0.124" ixy = "0" ixz = "0"
              iyy="0.124" iyz = "0"
              izz="0.21"/>
            </inertial>
            <visual>
            <origin xyz="0.05 0 0" rpy="0 1.57 0"/>
            <geometry>
                <cylinder radius="0.19" length="0.14"/>
            </geometry>
            <material name="blue"/>
            </visual>
            <collision>
                <origin xyz="0.05 0 0" rpy="0 1.57 0"/>
                    <geometry>
                <cylinder radius="0.19" length="0.14"/>
                </geometry>
        </collision>
    </xacro:macro>
    <xacro:macro name="left_wheel"> 
            <inertial>
            <origin xyz="-0.05 0 0" rpy="0 1.57 3.14"/>
            <mass value="11.6"/>
            <inertia  ixx="0.124" ixy = "0" ixz = "0"
              iyy="0.124" iyz = "0"
              izz="0.21"/>
            </inertial>

            <visual>
            <origin xyz="-0.05 0 0" rpy="0 1.57 3.14"/>
            <geometry>
                <cylinder radius="0.19" length="0.14"/>
            </geometry>
            <material name="blue"/>
            </visual>
            <collision>
                <origin xyz="-0.05 0 0" rpy="0 1.57 3.14"/>
                    <geometry>
                <cylinder radius="0.19" length="0.14"/>
                </geometry>
        </collision>
    </xacro:macro>
</robot>